# Entorno virtual
venv/
ENV/

# Archivos de Python compilados
*.pyc
__pycache__/

# Archivos de base de datos local
db.sqlite3

# Archivos estáticos generados
staticfiles/

# Archivos de migraciones cacheados
*.log

# Configuración de IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db